{:allow [;; transaction functions


         ;; lambda handlers
         cljhttp.test.main/echo

         ;; web applications
         ]            
 :lambdas {:echo
           {:fn cljhttp.test.main/echo
            :description "Echos a header from cljhttp"}}
 :app-name "jaret-prod-cljhttp"}

